.poney {
    border: 1px solid pink;
    width: 500px;
    height: 48%;
	left: 10px;
    top: 10px;
    margin: auto;
    overflow: hidden;
    background: white;
    position: absolute;
    box-sizing: border-box;
}
 
.marquee {
    top: 500px;
    position: relative;
    box-sizing: border-box;
    margin-top: 350px;
    text-align: center;
    animation: marquee 15s linear infinite;
    animation-delay: 2s,
}
 
.marquee:hover {
    animation-play-state: paused;
}
 
/* Make it move! */
@keyframes marquee
{
    0% { top: 200px }
    100% { top: -500px }
     
}